<ng-container *ngIf="rowsVisibility$ | async as rowsInfo">
  <div #rowsWrapper class="rows-wrapper">
    <div *ngFor="let rowInfo of rowsInfo" class="row">
      <div *ngFor="let image of rowInfo.row" class="img-wrapper"  [style.width.px]="image.width" [style.height.px]="image.height">
        <a [routerLink]="['./', image.id]">
          <img *ngIf="rowInfo.visible" src="{{'http://localhost:5279/Images/GetImagePreview?height=200&id=' + image.id}}" alt="">
        </a>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="(hasRows$ | async) === false">
  <section>
    <input #takeInput type="number" [value]="take$ | async" (blur)="onTakeBlur(takeInput.value)" min="1" max="1000" />
    <button (click)="onTakePageClick()">Load {{take$ | async}} images</button>
    <button (click)="onRepeatClick()">Repeat latest</button>
  </section>

<router-outlet></router-outlet>