/* Reset some default styles */
// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

/* Style the photo gallery container */
// .gallery {
//     display: flex;
//     flex-wrap: wrap;
// }

// /* Style the individual photo containers */
// .item {
//     height: 40vh;
//     margin: 5px;
//     flex-grow: 1;
//     background-color: #ccc;
// }

// /* Style the links inside the photos */
// .item a {
//     display: flex;
//     width: 100%;
//     height: 100%;
// }

// /* Style the images inside the links */
// .item a img {
//     max-width: 100%;
//     max-height: 100%;
//     object-fit: cover; /* Maintain aspect ratio while covering the container */
//     // vertical-align: bottom;
// }

:host {
    background-color: red;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    height: 40vh;
    flex-grow: 1;
    list-style-type: none;

    &:last-child {
        flex-grow: 10;
    }
}

img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}
