:host {
    background-color: rgba($color: #eaeaea, $alpha: 0.5);
    display: block;
    height: 90vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 15px;
        background-color: #aaa;
    }

    &::-webkit-scrollbar-thumb {
        background: #000;
    }
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    height: 20vh;
    flex-grow: 1;
    list-style-type: none;

    &:last-child {
        flex-grow: 10;
    }
}

img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

:host ::ng-deep glr-image-popup {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.9);

    // &:empty {
    //     display: none;
    // }
}

.rows-wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
}

@media (max-width: 1900px) {
    .rows-wrapper {
        // width: 500px;
    }
}

@media (max-width: 1000px) {
    .rows-wrapper {
        // width: 300px;
    }
}

.row {
    display: flex;
    flex-direction: row;
}

.img-wrapper {
    margin: 2px;
}