.rows-wrapper {
    display: flex;
    flex-direction: column;

    width: 500px;
}

@media (max-width: 1900px) {
    .rows-wrapper {
        width: 500px;
    }
}

@media (max-width: 1000px) {
    .rows-wrapper {
        width: 300px;
    }
}

.row {
    display: flex;
    flex-direction: row;
}


img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}