:host {
    display: flex;
}

span {
    &::after {
        content: '>';
    }

    &:last-child::after {
        content: '';
    }

    &:hover {
        background-color: #eaeaea;
    }

    cursor: default;
}

